/*
colors
#BA55D3 purple
#1E1E1E black
*/

*{	margin:0;	padding:0; }

html{
    min-height: 100%;
}

body{
    min-height: 100%;
    position:relative;
    font-family: 'Libre Franklin', sans-serif;
    -webkit-font-smoothing: antialiased;
    
}

p{
	font-weight: 900;
	font-size: large;
	color: black;
}

#header{
    color: red;
    font-size: 25px;
    margin-top:10px;
    margin-bottom:20px;
}

.Clicked{
	
	color:white;
}

.Right{
	background-color:green;
	color:black;
}

.Wrong{
	background-color:red;
	color:black;
}


.user_img{
	width:50px;
	height: 50px;
	margin-right:20px;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.name{
    margin-top: 10px;
    margin-left: 10px;
}

#overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index:10;
    background-color: rgba(0,0,0,0.7);
}

#C_alert{
    height: 300px;
    width: 300px;
    margin: auto;
    position: fixed;
    background-color: white;
    z-index: 11;
    border-radius: 20px;
    padding: 20px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Q_box{
    height: 375px;
    width: 300px;
    margin: auto;
    background-color: white;
    z-index: 11;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
    font-weight: 900;
    color: #FFFFFF;
    font-size: large;
    bottom:0;
    position: absolute;
    margin: 7px auto;
}
